.search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: #ebeaea;
    width: 80%;
    margin: auto;
    gap:5px
}

.search input {
    border:0;
    background-color: #ebeaea;
    outline: none;
}